
.body {
    font-family: sans-serif;
}
.content {
    background-color:#74C69D;
}

.layout {
    width: 100vw;
    height: 100vh;

    gap: 20px;

    display: grid;

    grid-template-columns: 150px 1fr 1fr 150px;
    grid-template-rows: 1fr;

}
.adBlockOne {
    grid-column-start: 1;
    grid-column-end: 2;
}
.adBlockTwo {
    grid-column-start: 4;
}
.cardDisplay {
    padding: 10px;
    position: relative;
    grid-column-start: 2;
    grid-column-end: 4;
    gap: 10px;
    
}
.categoryTitle{
    font-size: 45px;
    line-height: 49px;
    color: #74C69D;
}
.pageTitle {
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 25px;
    font-size: 70px;
    line-height: 73px;
    text-align: center;
    color: #081C15;
}
.creditCard {
    background-color: #081C15;
    border-radius: 15px;
    height: 300px;
    margin: 20px;  
}

.descriptionText {
    color: #D8F3DC;
    
}
.descriptionText2 {
    color: #D8F3DC;
    padding: 30px;
}
.cardName {
    color: #40916C;
    padding: 10px;
}
.cardImage {
    margin: 20px 20px;
    float: left;
}

.siteLink {
    color: #081C15;
}

.siteLink:hover {
    color:#D8F3DC;
}

.cbtInfo {
    color: #40916C;
}

