{% extends "base.html" %}
{% block title %} About {% endblock %}
{% block content %}
<div class="layout">
    <div class="adBlockOne">
        
    </div>
    <div class="cardDisplay">
        <h1 class="pageTitle">About</h1>
        <article class="creditCard">
            <p class="descriptionText2">
                Cash Back Tracker is a tool used to track the current amount of cash-back rates
                for some of the most common credit cards in various categories. The categories listed can be thought of as umbrella terms, as the
                actual category being offered by a certain card is a subset of that term (i.e Card A is listed as 5% cashback
                in "Food", but Card A's actual offer is specifically for "Grocery Stores" and does not include "Fast-Food/Restaurants"). These categories
                are designed to help determine which credit card will yield the most cash back according to usage.
            </p>
            <ul class="cbtInfo">
                <li>For full terms and conditions on any credit card listed, please visit the website linked by pressing the "More Info" button on the home
                    page or in the card name title in the cards page.</li>
                <li>Certain credit cards listed offer rotating 5% cashback categories. These offers are also tracked for their respective cards when possible. </li>
                <li>FAIR USE NOTICE: This site contains copyrighted material the use of which has not always been specifically authorized by the copyright owner and is intended 
                    for educational purposes.
                </li>
            </ul>
        </article>

    </div>
    <div class="adBlockTwo">
        
    </div>
</div>
{% endblock %}
