{%extends "base.html"%}
{% block title %} Cash Back Tracker {% endblock %}
{% block content %}
<div>
  <h1>Choose Credit cards:</h1>
</div>
<div class="container pt-3">
  <div class="row align-items-start">
    <div class="col border bg-light">
      Chase
    </div>
    <div class="col border bg-light">
      Discover
    </div>
    <div class="col border bg-light">
      Bank of America
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col border bg-light">
      Best Buy
    </div>
    <div class="col border bg-light">
      Citi
    </div>
    <div class="col border bg-light">
      American Express
    </div>
  </div>
</div>
{% endblock %}